
@model stockProject.Models.STOK

@{
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
    ViewBag.SekmeAdi = "User Creation";
    ViewBag.SayfaAdi = "Create User";
    ViewBag.CardAdi = "Kullanıcı Ekleme";
}

<h2>@ViewBag.SayfaAdi</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card ">
        <h5 class="card-header h5 primary-color">@ViewBag.CardAdi</h5>
        <div class="card-body">
            <div class="form-horizontal">
                <div class="col-lg-6">

                    <div class="form-group">
                        <div class="md-form md-outline">
                            @Html.LabelFor(model => model.STOK_AD, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.STOK_AD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.STOK_AD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="md-form md-outline">
                            @Html.LabelFor(model => model.STOK_MARKA, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.STOK_MARKA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.STOK_MARKA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="md-form md-outline">
                            @Html.LabelFor(model => model.STOK_DETAY, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.STOK_DETAY, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.STOK_DETAY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.STOK_OLCUBIRIM, htmlAttributes: new { @class = "" })
                        @Html.DropDownList("STOK_OLCUBIRIM", null, "Seçiniz", htmlAttributes: new { @class = "mdb-select md-form", searchable = "Ara..." })
                        @Html.ValidationMessageFor(model => model.STOK_OLCUBIRIM, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.ActionLink("Vazgeç", "Index", null, new { @class = "btn btn-info btn-rounded" })
                        <input type="submit" value="Kaydet" class="btn btn-success btn-rounded" />
                    </div>

                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

